! Dracula

*.background: #282A36
*.foreground: #F8F8F2

! black
*.color0:     #21222C
*.color8:     #44475A

! red
*.color1:     #FF5555
*.color9:     #FF6E67

! green
*.color2:     #50FA7B
*.color10:    #5AF78E

! yellow
*.color3:     #FFB86C
*.color11:    #F4F99D

! blue
*.color4:     #BD93F9
*.color12:    #CAA9FA

! magenta
*.color5:     #FF79C6
*.color13:    #FF92D0

! cyan
*.color6:     #6272A4
*.color14:    #9AEDFE

! white
*.color7:     #BFBFBF
*.color15:    #E6E6E6

dmenu.background: #282A36
dmenu.foreground: #F8F8F2
dmenu.selbackground: #BD93F9
dmenu.selforeground: #44475A
dmenu.adjbackground: #44475A
dmenu.adjforeground: #BFBFBF

dwm.normbordercolor: #44475A
dwm.normbgcolor: #282A36
dwm.normfgcolor: #44475A
dwm.selbordercolor: #FF92D0
dwm.selbgcolor: #44475A
dwm.selfgcolor: #CAA9FA
dwm.borderpx: 2

!instantwm.font: FiraCode:size=11

!instantwm.bgcolor: #212337
!instantwm.hovershadowcolor: #5c669b
!instantwm.hoverbgcolor: #7a88cf

!instantwm.minimize: #7a88cf
!instantwm.darkminimize: #5c669b

!instantwm.darkactivetag: #FF79Ce
!instantwm.activetag: #FF92Da

!instantwm.hoverfocus: #7a64a0
!instantwm.darkhoverfocus: #6e5991

!instantwm.darkfocus: #5c669b
!instantwm.focus: #7a88cf

